:root {
    --main-theme-color: maroon;
    --main-text-color: #646464;
    --main-light-color: #dedede;
    --main-light-accent-color: snow;
}


body {
    background-color: var(--main-light-color);
    color: var(--main-text-color);
    font: 14px/20px 'Open Sans', Helvetica, Arial, sans-serif;
    margin: 0;
}

.topshading {
    background: var(--main-theme-color);
    height: 900px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, auto);
    grid-gap: 15px;
    grid-auto-flow: row;
    padding-bottom: 40px;
    max-width: 930px;
    margin: auto;
}

.head {
    grid-column: 1 / span 3;
    color: var(--main-light-color);
    font-size: 110%;
}

#topcard {
    padding-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.subtitle {
    text-align: center;
}

#menu ul {
    color: var(--main-light-accent-color);
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 25px;
    word-spacing: 1em;
}

#menu ul li {
    display: inline;
}

#menu li:not(:first-child):before {
    content: " · ";
}

.card {
    background-color: var(--main-light-accent-color);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.3);
    padding: 10px 15px 13px;
    border-radius: 3px;
}

.card:not(.one):not(.two) {
    grid-column-end: span 3;
}

@media (min-width: 600px) {
    .one {
        grid-column-end: span 1;
    }

    .two {
        grid-column-end: span 2;
    }
}

@media (max-width: 599px) {
    .one,
    .two {
        grid-column: 1 / span 3;
    }
}

img {
    max-width: 100%;
}

.footer {
    clear: both;
    color: var(--main-theme-color);
    font-size: 13px;
    height: 40px;
    margin-bottom: 5px;
    margin-top: -40px;
    text-align: center;
    width: 100%;
    z-index: 100;
}


h1 {
    color: var(--main-light-accent-color);
    font: normal 70px Ubuntu, Helvetica, sans-serif;
    margin: 0;
    padding-top: 10px;
    text-align: center;
}

h2 {
    border-bottom: 2px solid var(--main-light-color);
    color: var(--main-theme-color);
    font: 22px Ubuntu, Helvetica, sans-serif;
    height: auto;
    margin-bottom: 12px;
    margin-top: 0;
    padding: 6px 0;
}

h3 {
    color: black;
    background-color: inherit;
    font-size: 15px;
    font-weight: 700;
    height: auto;
    margin: 5px 0 2px;
}

p {
    height: auto;
    margin: auto;
    padding: 0 10px 5px;
}

a {
    border-bottom: 1px dotted;
    color: inherit;
    background-color: inherit;
    text-decoration: none;
}

a:hover,
a:focus {
    border-bottom: 1px dashed;
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table tr {
    border-bottom: 1px solid var(--main-light-color);
}

table tr:last-child {
    border-bottom: none;
}

td {
    padding: 5px;
}

.icon {
    font-size: 18px;
    text-align: center;
    width: 50px;
}

.icon img {
    height: 16px;
    opacity: 0.5;
    width: 16px;
}

:lang(bn) {
    font-family: 'Baloo Da 2', serif;
}
